{%- import "_macros.html" as macros -%}

{% extends "_base_large.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h2 class="text-3xl mb-2">Sync your podcasts</h2>

<p class="mb-2">
    Pod-Sync is a open source service that allows you to sync your podcasts between your devices.
    Supporting the {% call macros::link("https://gpodder.net/", "gPodder API") %} and the future {% call macros::link("https://openpodcastapi.org/", "Open Podcast API") %}.
</p>

<p>
    It works with clients like {% call macros::link("http://gpodder.org/", "gPodder") %}, {% call macros::link("http://antennapod.org/", "AntennaPod") %},
    {% call macros::link("https://apps.kde.org/kasts/", "Kasts") %}, and many other {% call macros::link("...", "supported clients") %}.
</p>
{% endblock %}
